<?xml version="1.0" encoding="UTF-8" ?>
<widget
	xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap   = "http://phonegap.com/ns/1.0"
	id          = "com.example.compass"
	version     = "1.7.0"
	versionCode = "17"
>
	<preference name="phonegap-version" value="3.6.3" />

	<!-- gap:plugin name="Compass" value="org.apache.cordova.core.CompassListener" / -->
	<!-- gap:plugin name="Geolocation" value="org.apache.cordova.core.GeoBroker" / -->

	<gap:plugin name="org.apache.cordova.device-orientation" />
	<gap:plugin name="org.apache.cordova.geolocation" />
	<gap:plugin name="org.apache.cordova.media" />

	<name>Basic Compass</name>
	<description>Basic Compass</description>
</widget>
